<div class="background">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col" style="width:45vw;">
      <div class="hsp mdl-card mdl-shadow--4dp" style="float:right; width:100%; margin-bottom:10px;">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Patients</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p>Filter By:</p>
          <md-input-container>
            <label>Doctor</label>
            <md-select ng-model="selectedDoctor" md-on-close="getSelectedDoctor()">
               <md-option ng-value="doctor" ng-repeat="doctor in doctors">{{ doctor.fname }} {{doctor.lname}}</md-option>
            </md-select>
          </md-input-container>
          <br>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="filterPatients()">Filter</button>
          <hr>
          <table class="mdl-data-table mdl-js-data-table" style="margin-top:10px;">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">First Name</th>
                <th class="mdl-data-table__cell--non-numeric">Last Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="patient in patients" ng-click="selectPatient(patient)">
                <td class="mdl-data-table__cell--non-numeric">{{patient.fname}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{patient.lname}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col" style="width:45vw">
      <div class="hsp mdl-card mdl-shadow--4dp" style="float:right; width:100%">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{selectedPatient.fname}} {{selectedPatient.lname}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p><b>Admission Date: </b>{{selectedPatient.admissiondate.substring(0,10)}}</p>
          <p><b>Discharge Date: </b>{{selectedPatient.dischargedate.substring(0,10)}}</p>
          <p><b>Details: </b>{{selectedPatient.pdetails}}</p>
        </div>
      </div>
      <br>
      <div class="hsp mdl-card mdl-shadow--4dp" style="float:right; width:100%; margin-top:10px;">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Admit Patient</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <form ng-submit="addPatient()" action="#">
            <p>First Name</p>
            <input class="mdl-textfield__input" type="text" id="sample3" ng-model="newPatient.fname">
            <div class="mdl-textfield mdl-js-textfield">
              <!-- <label class="mdl-textfield__label">First Name</label> -->
            </div>

            <p>Last Name</p>
            <input class="mdl-textfield__input" type="text" id="plname" ng-model="newPatient.lname">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <!-- <label class="mdl-textfield__label" for="plname">Last Name</label> -->
            </div>

            <p>Phone Number</p>
            <input class="mdl-textfield__input" type="text" id="plname" ng-model="newPatient.phonenumber">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <!-- <label class="mdl-textfield__label" for="plname">Last Name</label> -->
            </div>

            <p>Details</p>
            <input class="mdl-textfield__input" type="text" id="plname" ng-model="newPatient.pdetails">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <!-- <label class="mdl-textfield__label" for="plname">Last Name</label> -->
            </div>
            <br>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">Admit Patient</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
