<div class="background">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col" style="width:45vw">
      <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--4dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">First Name</th>
            <th class="mdl-data-table__cell--non-numeric">Last Name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="patient in patients" ng-click="selectPatient(patient)">
            <td class="mdl-data-table__cell--non-numeric">{{patient.fname}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{patient.lname}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mdl-cell mdl-cell--6-col" style="width:45vw">
      <div class="hsp mdl-card mdl-shadow--4dp" style="float:right; width:100%">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{selectedPatient.fname}} {{selectedPatient.lname}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
        Admission Date: {{selectedPatient.admissiondate}}
        Discharge Date: {{selectedPatient.dischargedate}}
        Details: {{selectedPatient.pdetails}}
        </div>
      </div>
    </div>
  </div>
</div>
