<div class="background">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col" style="width:45vw;">
      <div class="hsp mdl-card mdl-shadow--4dp" style="float:right; width:100%; margin-bottom:10px;">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Select Doctors</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p>Filter By:</p>
          <md-input-container>
            <label>Specialty</label>
            <md-select ng-model="selectedSpecialty">
               <md-option ng-value="specialty" ng-repeat="specialty in specialties">{{specialty.specialty}}</md-option>
            </md-select>
          </md-input-container>
          <br>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="filterDoctors()">Filter</button>
          <hr>
          <p>Search:</p>
          <md-input-container>
            <label>First Name</label>
            <input type="text" ng-model="fnameSearch" required md-maxlength="20">
          </md-input-container>
          <md-input-container>
            <label>Last Name</label>
            <input type="text" ng-model="lnameSearch" required md-maxlength="20">
          </md-input-container>
          <br>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="searchDoctors()">Search</button>
          <hr>
          <table class="mdl-data-table mdl-js-data-table" style="margin-top:10px;">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">First Name</th>
                <th class="mdl-data-table__cell--non-numeric">Last Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="doctor in doctors" ng-click="selectDoctor(doctor)">
                <td class="mdl-data-table__cell--non-numeric">{{doctor.fname}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{doctor.lname}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col" style="width:45vw">

      <div class="hsp mdl-card mdl-shadow--4dp" style="float:right; width:100%;">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Create Doctor</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <form ng-submit="addDoctor()" name="doctorForm">
            <md-input-container>
              <label>First Name</label>
              <input class="mdl-textfield__input" type="text" ng-model="newDoctor.fname" required md-maxlength="20" name="doctorFName">
              <div ng-messages="doctorForm.doctorFName.$error">
                <div ng-message="required">This is required!</div>
              </div>
            </md-input-container>

            <md-input-container>
              <label>Last Name</label>
              <input class="mdl-textfield__input" type="text" ng-model="newDoctor.lname" required md-maxlength="20" name="doctorLName">
              <div ng-messages="doctorForm.doctorLName.$error">
                <div ng-message="required">This is required!</div>
              </div>
            </md-input-container>

            <md-input-container>
              <label>Specialty</label>
              <input class="mdl-textfield__input" type="text" ng-model="newDoctor.specialty" required md-maxlength="20" name="doctorSpecialty">
              <div ng-messages="doctorForm.doctorSpecialty.$error">
                <div ng-message="required">This is required!</div>
              </div>
            </md-input-container>

            <br>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">Create Doctor</button>
          </form>
        </div>
      </div>

      <br>

      <div class="hsp mdl-card mdl-shadow--4dp" style="float:right; width:100%; margin-top:10px;">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{selectedDoctor.fname}} {{selectedDoctor.lname}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p class="hsp" style="margin-bottom:0px; font-weight:400; font-size:20px;"><b>Specialties:</b></p>
          <hr style="margin:0px">
          <ul class='mdl-list' style="margin-top: 0px; padding-top: 0px; margin-bottom: 0px;">
            <li class="mdl-list__item" ng-repeat="specialty in selectedDoctor.specialties" style="padding:5px; height: 10px;">{{specialty}}</li>
          </ul>
          <input class="mdl-textfield__input" type="text" ng-model="newSpecialty" required placeholder="Add Specialty">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="addSpecialty(selectedDoctor)" style="float:right; width:100%;">
            <i class="material-icons">add</i>
          </button>

          <p class="hsp" style="margin-bottom:0px; font-weight:400; font-size:20px;"><b>Patients:</b></p>
          <hr style="margin:0px">
          <ul class='mdl-list' style="margin-top: 0px; padding-top: 0px;">
            <li class="mdl-list__item" ng-repeat="patient in doctorPatients" style="padding:5px; height: 10px;">{{patient.fname}} {{patient.lname}}</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
